{% set tags = h.get_facet_items_dict('tags', limit=20) %}
{% set groups = h.get_group_list() %}
{% set placeholder = _('e.g. Budget') %}
{% set stats = h.get_site_statistics() %}
<div class="module module-search module-narrow module-shallow box">
  <form class="module-content search-form" method="get" action="{% url_for controller='package', action='search' %}">
    <h3 class="heading">{{ _("Search over ")}} {{stats.dataset_count}} {{ _("datasets")}}</h3>
    <div class="search-input control-group search-giant">
      <input type="text" class="search" name="q" value="" autocomplete="off" placeholder="{{ placeholder }}" />
      <button type="submit">
        <i class="icon-search"></i>
        <span>{{ _('Search') }}</span>
      </button>
    </div>
  </form>
  <div class="tags">

<div id="whatever">
  {% for tag in tags %}
  <a href="{% url_for controller='package', action='search', tags=tag.name %}" rel="{{tag.count}}"> {{ h.truncate(tag.display_name, 22) }} </a>
  {% endfor %}
</div>
</div>

  <div class="search-by-cat">
      <h3 class="heading">{{ _("Search By Category") }}</h1>
      <ul class="media-grid">

        {% for group in groups %}
          <li class="media-item">     
              <!--h3 class="media-heading">{{ group.display_name }}</h3-->
              <a href="{{ h.url_for(controller='group', action='read', id=group.name) }}" title="{{ _('{name}').format(name=group.display_name) }}">
              <div class="img-container {{ group.name }}"><!--img src="{{ group.image_display_url or h.url_for_static('/base/images/placeholder-group.png') }}" alt="{{ group.name }}" /--></div>
              <span>{{ _('{name}').format(name=group.display_name) }}</span></a>
          </li>
        {% endfor %}
      </ul>
      <div style="clear:both"></div> 
  </div>
</div>

